<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title th:text="#{content.title}"></title>
    <link rel="stylesheet" th:href="@{/css/input.css}">
</head>
<body>
    <h1 th:text="#{content.title}"></h1>
    <h2 th:text="#{content.inputscreen}"></h2>
    <p th:text="#{content.pleaseentervalue}"></p>
    <p th:if="${param.previous != null and param.previous != ''}" th:text="'前回入力された値は「' + ${param.previous} + '」です。'"></p>
    <form action="/output" method="post">
        <input type="text" name="previous">
        <button type="submit" th:text="#{content.submit}"></button>
    </form>
</body>
</html>