<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title th:text="#{content.title}"></title>
    <link rel="stylesheet" th:href="@{/css/input.css}">
</head>
<body>
    <h1 th:text="#{content.title}"></h1>
    <h2 th:text="#{content.outputscreen}"></h2>
    <p th:text="${previous != ''} ? '入力された値は「' + ${previous} + '」です。' : '何も入力されていません。'"></p>
    <a th:href="${previous != ''} ? @{/input(previous=${param.previous[0]})} : @{/input}" th:text="#{content.back}"></a>
</body>
</html>